@model PagedListViewModel<BusinessLayer.DTOModels.PaymentDTO>
@{
    ViewData["Title"] = "Payment List";
    ViewData["ActionName"] = "Payment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section content {
    <br />
    <div class="container">
        <h2 class="header-title">Payment Management</h2>
        <div class="header-container">
            <input type="text" id="searchInput" class="search-bar" placeholder="Search Payment..." />
        </div>

        <div class="container table-container">

            <table class="table table-hover table-bordered" id="PaymentTable">

            <table class="table table-hover table-bordered" id="paymentTable">

                <thead>
                    <tr>
                        <th>Payment Date</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>Contract</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="paymentTable">
                    @foreach (var payment in Model.Items)
                    {
                        <tr>
                            <td>@payment.PaymentDate</td>
                            <td>@payment.Amount</td>
                            <td>@payment.PaymentMethod</td>
                            <td>@payment.ContractId</td>
                            <td>
                                <a asp-action="PaymentDetails" asp-controller="Admin" asp-route-Id="@payment.Id" class="btn btn-custom btn-details">
                                    <i class="fas fa-info-circle"></i>Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <!-- Pagination and Back Button Container -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Back Button on the left -->
                <div>
                    <a asp-action="Admin" asp-controller="Account" class="btn btn-custom btn-details">
                        <i class="fas fa-rotate-back"></i> Back
                    </a>
                </div>

                <!-- Pagination on the right -->
                <div>
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" asp-action="ListPayments" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                            </li>
                        }
                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                        }
                    </ul>

                </div>
            </div>
      


            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            // Search function
            $('#searchInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();

                $('#paymentTable tbody tr').filter(function () {

                $('#paymentTable tr').filter(function () {

                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>

}
