@model PagedListViewModel<BusinessLayer.DTOModels.PaymentDTO>
@{
    ViewData["Title"] = "Payment List";
    ViewData["ActionName"] = "Payment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section content {
    <br />
    <div class="container">
        <h2 class="header-title">Payment Management</h2>
        <div class="header-container">
            <input type="text" id="searchInput" class="search-bar" placeholder="Search Payment..." />
        </div>

        <div class="container table-container">

            <table class="table table-hover table-bordered" id="PaymentTable">

                <thead>
                    <tr>
                        <th>Payment Date</th>
                        <th>Amount</th>
                        <th>ReferenceNumber</th>
                        <th>Payment Method</th>
                        <th>Property</th>
                        <th>Occupant</th>
                   
                    </tr>
                </thead>
                <tbody id="paymentTable">
                    @foreach (var payment in Model.Items)
                    {
                            <tr onclick="location.href='@Url.Action("paymentdetails", "Admin", new { Id = payment.Id })'" style="cursor: pointer;">
                            <td>@payment.PaymentDate</td>
                            <td>@payment.Amount</td>
                            <td>@payment.ReferenceNumber</td>
                            <td>@payment.PaymentMethod</td>
                            <td>@payment.PropertyName</td>
                            <td>@payment.Occupantname</td>
                     
                        </tr>
                    }
                </tbody>
            </table>


            <!-- Pagination and Back Button Container -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- Back Button on the left -->
                <div>
                    <a asp-action="Admin" asp-controller="Account" class="btn btn-custom btn-details">
                        <i class="fas fa-rotate-back"></i> Back
                    </a>
                </div>

                <!-- Pagination on the right -->
                @{
                    int maxVisiblePages = 2; // Max number of visible page links
                    int startPage = Math.Max(1, Model.PageNumber - 1); // Adjust start page
                    int endPage = Math.Min(Model.TotalPages, startPage + maxVisiblePages - 1); // Adjust end page
                }

                <div>
                    <ul class="pagination justify-content-center">

                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments"
                                   asp-route-pageNumber="@(Model.PageNumber - 1)"
                                   asp-route-pageSize="@Model.PageSize">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        }

                        @if (startPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments"
                                   asp-route-pageNumber="1"
                                   asp-route-pageSize="@Model.PageSize">1</a>
                            </li>
                      
                        }

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" asp-action="ListPayments"
                                   asp-route-pageNumber="@i"
                                   asp-route-pageSize="@Model.PageSize">@i</a>
                            </li>
                        }

                        @if (endPage < Model.TotalPages)
                        {
                            <li class="page-item disabled">
                                <span>...</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments"
                                   asp-route-pageNumber="@Model.TotalPages"
                                   asp-route-pageSize="@Model.PageSize">@Model.TotalPages</a>
                            </li>
                        }

                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListPayments"
                                   asp-route-pageNumber="@(Model.PageNumber + 1)"
                                   asp-route-pageSize="@Model.PageSize">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="services section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a href="@Url.Action("ListPayments", "Admin")" class="stretched-link">
                            <h3>All Payments</h3>
                        </a>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a href="@Url.Action("ListContracts", "Admin")" class="stretched-link">
                            <h3>Real Estate Developers</h3>
                        </a>
                        <p>Real Estate Developers.</p>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a href="@Url.Action("ProjectList", "Admin")" class="stretched-link">
                            <h3>Projects</h3>
                        </a>
                        <p>Real Estate Projects</p>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </div>

}

@section scripts {
    <script>
        $(document).ready(function () {
            // Search function
            $('#searchInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();

                $('#paymentTable tbody tr').filter(function () {

                $('#paymentTable tr').filter(function () {

                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>

}
