@model BusinessLayer.DTOModels.PropertyDTO

@{
    ViewData["Title"] = "Property Single";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/property-details.css">
}

@section Content {
    <main class="main">
        <!-- Page Title -->
        <div class="page-title" data-aos="fade">
            <div class="heading">
                <div class="container">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-lg-8">
                            <h1>@ViewData["Title"]</h1>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="current">Property Single</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Page Title -->
        <!-- Real Estate 2 Section -->
        <section id="real-estate-2" class="real-estate-2 section">
            <div class="container" data-aos="fade-up">
                <div class="portfolio-details-slider swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                            "loop": true,
                            "speed": 600,
                            "autoplay": {
                                "delay": 5000
                            },
                            "slidesPerView": "auto",
                            "navigation": {
                                "nextEl": ".swiper-button-next",
                                "prevEl": ".swiper-button-prev"
                            },
                            "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                            }
                        }
                    </script>
                    <div class="swiper-wrapper align-items-center">
                        <!-- Display either default images or dynamic images when available -->
                        @if (Model.ImageLinks != null && Model.ImageLinks.Count > 0)
                        {
                            foreach (var imageLink in Model.ImageLinks)
                            {
                                <div class="swiper-slide">
                                    <img src="@imageLink" alt="Property Image">
                                </div>
                            }
                        }
                        else
                        {
                            <!-- Default Images -->
                            <div class="swiper-slide">
                                <img src="~/assets/img/property-slide/property-slide-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/property-slide/property-slide-2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/property-slide/property-slide-3.jpg" alt="">
                            </div>
                        }
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="row justify-content-between gy-4 mt-4">
                    <div class="col-lg-8" data-aos="fade-up">
                        <div class="portfolio-description">
                            <h2>This is an example of property details</h2>
                            <p>Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia.</p>
                        </div>
                        <!-- End Portfolio Description -->



                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-3">
                            <li><a class="nav-link" data-bs-toggle="pill" href="#location-tab">Location</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#floor-plans-tab">Floor Plans</a></li>
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#video-tab">Video</a></li>
                        </ul><!-- End Tabs -->


                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div class="tab-pane fade  show active" id="location-tab">
                                <!-- Google Maps Embed -->
                                <iframe style="border:0; width: 100%; height: 400px;"
@*                                         src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=@Model.Latitude,@Model.Longitude"
 *@                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" 
                                frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div><!-- End Location Tab -->
                            <div class="tab-pane fade" id="floor-plans-tab">
                                <img src="~/assets/img/floor-plan.jpg" alt="" class="img-fluid">
                            </div><!-- End Floor Plans Tab -->
                            <div class="tab-pane fade" id="video-tab">
                                <!-- Video content -->
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/example_video_id" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <!-- End Video Tab -->                           
                        </div><!-- End Tab Content -->
                    </div>




                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="portfolio-info">
                            <h3>Quick Summary</h3>
                            <ul>
                                <li><strong>Property Name:</strong> @Model.Name</li>
                                <li><strong>Location:</strong> @Model.Location</li>
                                <li><strong>Type:</strong> @Model.Type</li>
                                <li><strong>Area:</strong> <span>@Model.Area m<sup>2</sup></span></li>
                                <li><strong>Current State:</strong> <span>@Model.IsOccupied</span></li>
                            </ul>
                            <!-- Open Contract Button -->
                            <a href="@Url.Action("openContract", "Contract")" class="btn btn-primary">Open Contract</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Real Estate 2 Section -->
    </main>
}

@section Scripts {
    <script src="~/assets/js/property-details.js"></script>
}
