@model IEnumerable<BusinessLayer.DTOModels.PaymentDTO>

@{
    ViewData["Title"] = "Review Contract Payments";
    ViewData["ActionName"] = "Contract";
    Layout = "~/Views/Shared/userLayout.cshtml";
}

<br />

<!-- Add the title for saved contract and waiting for admin approval -->
<div class="container">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Contract Saved!</h4>
        <p>Your contract has been successfully saved and is now waiting for admin approval.</p>
    </div>

    <div class="container">
        <h2 class="header-title">Review Contract Payments</h2>
        <div class="container table-container">
            <table class="table table-hover table-bordered" id="PaymentTable">
                <thead>
                    <tr>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Contract</th>
                    </tr>
                </thead>
                <tbody id="paymentTable">
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var payment in Model)
                        {
                    @*         <tr onclick="location.href='@Url.Action("paymentdetails", "Contract", new { Id = payment.Id })'" style="cursor: pointer;"> *@
                        <tr>
                                <td>@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                                <td>@payment.Amount.ToString("C")</td>
                                <td>@payment.PaymentMethod</td>
                                <td>@payment.ContractId</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">No payments available</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    @if (Model != null && Model.Any())
                    {
                        <a asp-action="Details" asp-controller="Contract" asp-route-id="@Model.FirstOrDefault()?.ContractId" class="ml-auto custom-green text-white rounded px-4 py-2">Start Contract</a>
                    }
                    else
                    {
                        <span>No contract found to start</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
