@model PagedListViewModel<BusinessLayer.DTOModels.ContractDTO>
@{
    ViewData["Title"] = "Archived Contract";
    ViewData["ActionName"] = "Contract";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container">
    <h2 class="header-title">Archived Contracts</h2>
    <div class="header-container">

        <input type="text" id="searchInput" class="search-bar" placeholder="Search Contract..." />

    </div>

    <div class="container table-container">
<table class="table table-hover table-bordered" id="contractTable">
    <thead>
        <tr>
            <th>Type</th>
            <th>Agent</th>
            <th>End Date</th>
            <th>Total Amount</th>
            <th>Location</th>
            <th>Status</th>
            <th>UnArchive</th>
        </tr>
    </thead>
    
          
    <tbody id="contractTable">
            @foreach (var contract in Model.Items)
            {
            <tr>
                <td>@contract.ContractType</td>
                <td>@contract.AgentId</td>
                <td>@contract.EndDate</td>
                <td>@contract.TotalAmount</td>
                <td>@contract.PropertyLocation</td>
                <td>@(contract.IsArcheives ? "Archived" : "Active")</td>

                <td>
                    <a asp-action="UnArchivedContracts" asp-controller="Admin" style=" background-color: #38d39f; color: white;" asp-route-Id="@contract.Id" class="btn btn-custom btn-unarchive">
                        <i class="fas fa-box-open"></i> UnArchive
                    </a>

                </td>

            </tr>

            }
    </tbody>

</table>
        <div class="d-flex justify-content-between align-items-center">
            <!-- Back Button on the left -->
            <div>
                <a asp-action="ListContracts" asp-controller="Admin" class="btn btn-custom btn-details">
                    <i class="fas fa-rotate-back"></i> Back
                </a>
            </div>
            
</div>
</div>
</div>
